{{ define "main" -}}
	<article class="page-content">
			{{- .Content -}}
		<section>
			{{- with .Pages -}}
				<nav><ul class="section-list">
					{{- range . -}}
						<li><a title="{{ .Title }}" href="{{ .Permalink }}">{{- .Title -}}</a></li>
					{{- end -}}
				</ul></nav>
			{{- end -}}
		</section>
	</article>
{{- end -}}

{{- define "head" -}}
{{- $ss := resources.Get "css/list.css" | fingerprint -}}
<link rel="stylesheet" href="{{ $ss.Permalink }}" integrity="{{ $ss.Data.Integrity }}" />
{{- end -}}
