.footer {
	color: var(--color-dark-text);
	background-color: var(--color-dark-background);
}

.footer > .footer__content {
	box-sizing: border-box;
	max-width: 8in;
	padding: 1em;
	margin: auto;

	display: grid;
	grid-gap: .6em;
	grid-template-columns: [row-start] repeat(auto-fill, minmax(15em, 1fr)) [row-end];
	grid-auto-flow: row dense;
}

.footer .footer__section {
	display: flex;
	flex-direction: column;
}

.footer .footer__section .footer__section__title a {
	color: inherit;
	text-decoration: none;
}

.footer .footer__section--fullwidth {
	grid-column: row-start / row-end;
}

.footer .footer__section--spaced-row {
	flex-direction: row;
	justify-content: space-around;
}

.footer .footer__section--social-media {
	text-align: center;
	font-size: 1.4rem;
}

.footer .footer__section--social-media a {
	text-decoration: none;
	color: inherit;
}
