body {
	margin: 0;
	padding: 0;
	font: var(--fonts-body-size)/var(--fonts-body-line-height) var(--fonts-body-family);
	background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
	line-height: var(--fonts-header-line-height);
	font-family: var(--fonts-header-family);
}

a {
	color: var(--color-link);
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}
