<footer class="footer">
	<div class="footer__content">
		{{- with .Site.Menus.social -}}
			<nav class="footer__section footer__section--fullwidth footer__section--spaced-row footer__section--social-media">
				{{- range . -}}
					<a href="{{ .URL }}" class="footer__link fab fa-{{ .Identifier }}" title="{{ .Name }}"></a>
				{{- end -}}
			</nav>
		{{- end -}}
		{{- if .IsTranslated -}}
			<nav class="footer__section footer__section--fullwidth footer__section--spaced-row footer__section--languages">
				{{- range .Translations -}}
					<a rel="alternate" href="{{.Permalink}}" hreflang="{{.Lang}}">{{.Language.LanguageName}}</a>
				{{- end -}}
			</nav>
		{{- end -}}
		{{- with $.Site.Home -}}
			<nav class="footer__section">
				<h2 class="footer__section__title"><a href="{{.Permalink}}">{{$.Site.Title}}</a></h2>
				{{- range where .Pages "Kind" "page" -}}
					<a href="{{.Permalink}}">{{.Title}}</a>
				{{- end -}}
			</nav>
			{{- range where .Pages "Kind" "section" -}}
				<nav class="footer__section">
					<h2 class="footer__section__title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
					{{- range first ( or $.Site.Params.footerlistlimit 4 ) .Pages -}}
						<a href="{{.Permalink}}">{{.Title}}</a>
					{{- end -}}
					{{- if gt ( len .Pages ) ( or $.Site.Params.footerlistlimit 4 ) -}}
						<a href="{{.Permalink}}">{{ T "more" }}</a>
					{{- end -}}
				</nav>
			{{- end -}}
		{{- end -}}
		{{- with .Site.Copyright -}}
			<div class="footer__section footer__section--fullwidth">
				<p>{{ safeHTML . }}</p>
			</div>
		{{- end -}}
	</div>
</footer>
